<!DOCTYPE html>
<html ng-app="eventsApp">
<head>
    <title>Event Registration</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <div class="navbar navbar-default">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="EventDetails.html">Go Back</a></li>
            </ul>
        </div>
    </div>
    <div ng-controller="editEventController">
        <div class="container">
            <h3>New Event</h3>
            <hr/>
            <form name="newEventForm">

                    <div class="form-group">
                        <label for="eventName">Event Name :</label>
                        <input id="eventName" ng-model="event.name" required type="text" placeholder="Event Name.."/>
                    </div>

                    <div class="form-group">
                        <label for="eventDate">Event Date :</label>
                        <input id="eventDate" ng-model="event.date" required ng-pattern="/\d\d-\d\d-\d\d\d\d/" type="text" placeholder="Event Date.."/>
                    </div>

                    <div class="form-group">
                        <label for="eventTime">Event Time :</label>
                        <input id="eventTime" ng-model="event.time" type="text" placeholder="Event Time.."/>
                    </div>

                    <div class="form-group">
                        <label for="eventLocation">Event Location :</label>
                        <input id="eventLocation" ng-model="event.location.address" type="text"
                               placeholder="Event Location.."/>
                    </div>
                    <br/>

                    <div class="form-group">
                        <input id="eventCity" ng-model="event.city" type="text" placeholder="Event city.."/>
                    </div>

                    <div class="form-group">
                        <input id="eventProvince" ng-model="event.location.province" type="text"
                               placeholder="Event Province "/>
                    </div>

                    <div class="form-group">
                        <label for="eventImageURL"> Image URL :</label>
                        <input id="eventImageURL" ng-model="event.imageUrl" type="text" placeholder="Event Image URL"/>
                    </div>
                    </fieldset>

                    <img ng-src="{{event.imageUrl}}" src=""/>
                    <br/>

                    <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event,newEventForm)" class="btn btn-primary">Save</button>
                    <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>

            </form>
        </div>
    </div>
</div>
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/angular-resource.js" type="text/javascript"></script>
<script src="js/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="js/underscore-min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>

<script src="js/app.js" type="text/javascript"></script>
<script src="js/services/EventData.js" type="text/javascript"></script>
<script src="js/controllers/event-controller.js" type="text/javascript"></script>
<script src="js/controllers/edit-event-controller.js" type="text/javascript"></script>
<script src="js/filters.js" type="text/javascript"></script>

</body>
</html>